.propertyValue{
    text-align: right;
    color: black;
    font-family: Calibri, 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
    width: 50%;
    border-bottom: 1px;
    border-color: black;
}
.propertyTitle{
    text-align: left;
    color: black;
    font-family: Calibri, 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', sans-serif;
    width: 50%;
    border-bottom: 1px;
    border-color: black;
}

.commentsOne{
margin: 2px 0px;
}
.commentsOneUsername{
    border-bottom: #AAA solid 1px;
}
.commentsInputFormHiden{
    width: 0px;
    visibility: hidden;
}
.commentsInputForm{
    display: flex;
    justify-content: stretch;
}
.commentsInputFormContent{
    width: 100%;
}

